# General
*.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dSYM
*depend.mk

# Executables
*.exe
*.out
*.app

# Data files
*.nii
*.ima

# Binaries
bin/*
rstools/rstimecourse
rstools/rsniftiutils
utils/nifti_tool
utils/nifti1_test
utils/nifti_stats
